/* utilities */
body {
    font-family: 'Poppins', sans-serif;
}
.dark-one-color {
    color: #1d1d1d !important;
}
.dark-two-color {
    color: #4a4a4a !important;
}
.dark-three-color {
    color: #777777 !important;
}
.rating-color {
    color: #f59e0b !important;
}
.footer-bg-color {
    background-color: #161616 !important;
}
.font-size-one {
    font-size: 65px !important;
}
.font-size-two {
    font-size: 45px !important;
}
.font-size-three {
    font-size: 40px !important;
}
.font-size-four {
    font-size: 20px !important;
}
.font-size-five {
    font-size: 16px !important;
}

.navbar-collapse {
    flex-basis: 0 !important;
    flex-grow: 0 !important;
}

/* slider section style */
.carousel-caption {
    top: 28% !important;
}
.overlay {
    background-color: black !important;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
}

/* courses section style */
.card-text {
    margin-bottom: 0 !important;
}
.courses .card img, .explore .card img{
    height: 100% !important;
}

/* explore section style */
.explore-text {
    background-color: #F4FAFD;
}

/* feedback section style */
.feedback .carousel-control-next,
.feedback .carousel-control-prev {
    width: 3% !important;
}

/* responsive style */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .navbar-collapse {
        flex-basis: 100% !important;
        flex-grow: 1 !important;
    }  
    .font-size-one {
        font-size: 40px !important;
    }

    .font-size-two {
        font-size: 25px !important;
    }

    .font-size-three {
        font-size: 20px !important;
    }
    .carousel-caption {
        top: 15% !important;
    }     
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .navbar-collapse {
        flex-basis: 100% !important;
        flex-grow: 1 !important;
    }  
    .font-size-one {
        font-size: 40px !important;
    }
    .font-size-two {
        font-size: 25px !important;
    }
    .font-size-three {
        font-size: 20px !important;
    }
    .carousel-caption {
        top: 2% !important;
    }
}

@media only screen and (max-width: 575px) {
    .navbar-collapse {
        flex-basis: 100% !important;
        flex-grow: 1 !important;
    }  
    .font-size-one {
        font-size: 30px !important;
    }
    .slider .carousel-caption p {
        height: 28px;
        overflow: hidden;
    }
    .carousel-caption {
        top: 5% !important;
    }
    .courses .card img,
    .explore .card img {
        width: 100% !important;
    }
    .courses .card-body {
        padding: 25px !important;
    }
    .courses .card-body p {
        padding: 10px 0 !important;
    }
}