/* utilities */
body {
    font-family: 'Poppins', sans-serif;
}
.dark-one-color {
    color: #1d1d1d;
}
.dark-two-color {
    color: #4a4a4a;
}
.dark-three-color {
    color: #777777;
}
.rating-color {
    color: #f59e0b;
}
.footer-bg-color {
    background-color: #161616;
}
.font-size-one {
    font-size: 65px;
}
.font-size-two {
    font-size: 45px;
}
.font-size-three {
    font-size: 40px;
}
.font-size-four {
    font-size: 25px;
}
.font-size-five {
    font-size: 18px;
}